@model List<DemoApp.Web.Controllers.CustomerVm>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<ul>
    @foreach (var customer in Model)
    {
        <li>@customer.FirstName</li>
    }
</ul>
