@model List<DemoWebApp.Web.Controllers.CustomerVm>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        Time in Milliseconds: @ViewBag.WatchMilliseconds
        <ul>
            @foreach (var customerVm in Model)
            {
                <li>@customerVm.FirstName</li>
            }
        </ul>
    </div>
</body>
</html>